{% extends "HomePage.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Request</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />


</head>
<style>
body,h1 {font-family: "Raleway", sans-serif;padding:20px}
</style>
<script>

    alert("YOU ALREADY COMPLETED TODAY SHIFT");  // display string message


</script>
{% endblock %}